target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/Performance test Plan/apache-jmeter-5.6.2/
/src/main/Performance test Plan/dash-board/
/src/main/Performance test Plan/dashboarddata/
/lib/groovy-5.0.0-alpha-1.jar
/lib/groovy-5.0.0-alpha-1-sources.jar
/lib/groovy-ant-5.0.0-alpha-1.jar
/lib/groovy-ant-5.0.0-alpha-1-sources.jar
/lib/groovy-astbuilder-5.0.0-alpha-1.jar
/lib/groovy-astbuilder-5.0.0-alpha-1-sources.jar
/lib/groovy-cli-commons-5.0.0-alpha-1.jar
/lib/groovy-cli-commons-5.0.0-alpha-1-sources.jar
/lib/groovy-cli-picocli-5.0.0-alpha-1.jar
/lib/groovy-cli-picocli-5.0.0-alpha-1-sources.jar
/lib/groovy-console-5.0.0-alpha-1.jar
/lib/groovy-console-5.0.0-alpha-1-sources.jar
/lib/groovy-contracts-5.0.0-alpha-1.jar
/lib/groovy-contracts-5.0.0-alpha-1-sources.jar
/lib/groovy-datetime-5.0.0-alpha-1.jar
/lib/groovy-datetime-5.0.0-alpha-1-sources.jar
/lib/groovy-dateutil-5.0.0-alpha-1.jar
/lib/groovy-dateutil-5.0.0-alpha-1-sources.jar
/lib/groovy-docgenerator-5.0.0-alpha-1.jar
/lib/groovy-docgenerator-5.0.0-alpha-1-sources.jar
/lib/groovy-ginq-5.0.0-alpha-1.jar
/lib/groovy-ginq-5.0.0-alpha-1-sources.jar
/lib/groovy-groovydoc-5.0.0-alpha-1.jar
/lib/groovy-groovydoc-5.0.0-alpha-1-sources.jar
/lib/groovy-groovysh-5.0.0-alpha-1.jar
/lib/groovy-groovysh-5.0.0-alpha-1-sources.jar
/lib/groovy-jmx-5.0.0-alpha-1.jar
/lib/groovy-jmx-5.0.0-alpha-1-sources.jar
/lib/groovy-json-5.0.0-alpha-1.jar
/lib/groovy-json-5.0.0-alpha-1-sources.jar
/lib/groovy-jsr223-5.0.0-alpha-1.jar
/lib/groovy-jsr223-5.0.0-alpha-1-sources.jar
/lib/groovy-macro-5.0.0-alpha-1.jar
/lib/groovy-macro-5.0.0-alpha-1-sources.jar
/lib/groovy-macro-library-5.0.0-alpha-1.jar
/lib/groovy-macro-library-5.0.0-alpha-1-sources.jar
/lib/groovy-nio-5.0.0-alpha-1.jar
/lib/groovy-nio-5.0.0-alpha-1-sources.jar
/lib/groovy-servlet-5.0.0-alpha-1.jar
/lib/groovy-servlet-5.0.0-alpha-1-sources.jar
/lib/groovy-sql-5.0.0-alpha-1.jar
/lib/groovy-sql-5.0.0-alpha-1-sources.jar
/lib/groovy-swing-5.0.0-alpha-1.jar
/lib/groovy-swing-5.0.0-alpha-1-sources.jar
/lib/groovy-templates-5.0.0-alpha-1.jar
/lib/groovy-templates-5.0.0-alpha-1-sources.jar
/lib/groovy-test-5.0.0-alpha-1.jar
/lib/groovy-test-5.0.0-alpha-1-sources.jar
/lib/groovy-test-junit5-5.0.0-alpha-1.jar
/lib/groovy-test-junit5-5.0.0-alpha-1-sources.jar
/lib/groovy-testng-5.0.0-alpha-1.jar
/lib/groovy-testng-5.0.0-alpha-1-sources.jar
/lib/groovy-toml-5.0.0-alpha-1.jar
/lib/groovy-toml-5.0.0-alpha-1-sources.jar
/lib/groovy-typecheckers-5.0.0-alpha-1.jar
/lib/groovy-typecheckers-5.0.0-alpha-1-sources.jar
/lib/groovy-xml-5.0.0-alpha-1.jar
/lib/groovy-xml-5.0.0-alpha-1-sources.jar
/hs_err_pid35744.log
