<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AliaICT-Task" parallel="false" verbose="2">
    <test name="Successful-Reservation">
        <classes>
            <class name="org.example.stepDefs.TestNgTest"/>
        </classes>
    </test>

</suite>